
<h3 class="form-txt"><%= login_msg %></h3>


<div class="login-form">
  <form action="/login" method="post">

    <label class="form-txt" for="">EMAIL</label>
    <input type="text" name="email">

    <label class="form-txt" for="">PASSWORD</label>
    <input type="password" name="password">

    <button>login</button>
  </form>

  <form action="/new_user">
    <button>sign up</button>
  </form>
</div>



