


<form action="/session" method="post">

  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="text" name="password">

  <button>login</button>
</form>

<p>email: def@def.com password: password</p>

<p>at this stage if you log in with an account that isnt signed up inputs are cleared but nothing else happens</p>