
<h3><%= login_error %></h3>



<form action="/session" method="post">

  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>login</button>
</form>

<form action="/new_user">
  <button>sign up</button>
</form>

<p>default login, email: def@def.com password: password</p>


