<form action="/users" method="post">
  
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="text" name="password">

<button>submit</button>
</form>

<p>at this stage if you try to sign up with an email that already exists in the database, you'll be redirected to the log in screen </p>