<h3 class="form-txt"><%= sign_up_msg %></h3>

<form action="/users" method="post">
  <div class="new-user-form">
    <label class="form-txt" for="">PROFILE NAME</label>
    <input type="text" name="profile_name" required>
    <label class="form-txt" for="">EMAIL</label>
    <input type="email" name="email" required>
    <label class="form-txt" for="">PASSWORD</label>
    <input type="password" name="password" minlength="6" placeholder="min. 6 characters">
    <button>submit</button>
  </div>
</form>

