<h3>Enter your details below to sign up</h3>

<form action="/users" method="post">
  
  <label for="">email</label>
  <input type="text" name="email" required>

  <label for="">password</label>
  <input type="text" name="password" minlength="6" required>

<button>submit</button>
</form>
