<%= user %>

<h1><%= password_msg %></h1>


<form action="/account/<%=current_user()['id']%>/update_password" method="post">
<input type="hidden" name="_method" value="put">

  <label for="">current password</label>
  <input type="password" name="curr_password" minlength="6" required>

  <label for="">New password</label>
  <input type="password" name="new_password" minlength="6" required>

  <label for="">New password conrimation</label>
  <input type="password" name="new_password_conf" minlength="6" required>

  <button>Update</button>

</form>