html {
  height: 100%;
}

body {
  background-color: #3e3e3e;
  width: 80%;
  min-height: 100%;
}

/* user dash */

.curr-user {
  display: flex;
  flex-direction: row;
}

.user-dash-btns {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-left: 10px;
}

.user-logged {
  color: yellowgreen;
}

/* User Account Page */

.review-wrapper {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content:space-around
}

.new-review-form, .edit-review-form {
  height: 400px;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.review-img {
  height: 250px;
  width: 250px;
}