html {
  height: 100%;
}

body {
  background-color: #262626;
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
}

button {
  background-color: #1a1a1a;
  color: #BEED00;
}

h5 {
  margin: 0;
}

.title-home-link {
  color: /*#87E000*/ #87E000;
  text-decoration: underline;
  font-size: 50px;

}

/* user dash */

.curr-user {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-dash-btns {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-left: 10px;
}

.user-logged {
  color: #87E000;
  text-decoration: underline;
}

/* Home Page */

.review-wrapper {
  background-color: #3e3e3e;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  height: min-content;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-bottom: 1px solid black;
}

.post:last-child{
  border: none;
}

.review-thumb {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  max-height: 250px;
  max-width: 80%;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 20px;
}

.review-text {
  height: max-content;
  margin: 15px;
}

.author-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
    
}

.author {
  color: #87E000;

}

/* User Account Page */


.acc-post-form-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
}

/* create new post and edit post form */
.new-review-form, .edit-review-form {
  height: 400px;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

