html {
  height: 100%;
}

body {
  background-color: #262626;
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
}

button {
  background-color: #1a1a1a;
  color: #BEED00;
}

h5 {
  margin: 0;
}

.title-home-link {
  color:#87E000;
  text-decoration: underline;
  font-size: 50px;

}

.form-txt {
  color: #BEED00;
}

/* user dash */

.curr-user {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 5px;
}
.user-profile-pic {
  border: 1px solid #87E000;
  border-radius: 4px;
  padding: 5px;
}

.user-dash-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.user-logged {
  color: #87E000;
  text-decoration: underline;
}

/* Home Page */

.review-wrapper {
  background-color: #3e3e3e;
  max-width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  color: rgb(250, 204, 2);
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-bottom: 5px solid #272727;
  border-right: 5px solid #191919;
}

.post:last-child{
  border-bottom: none;
}

.review-thumb {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  max-height: 250px;
  max-width: 80%;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 20px;
}

.review-text {
  margin: 15px;
}

.author-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
    
}

.author {
  color: #87E000;
}

/* User Account Page */

.profile-head-revs {
  text-align: center;
  color: #87E000;
  margin-left: 125px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-head {
  color: #87E000;
}

.profile-details {
  color: #BEED00;
}

.profile-details * {
  margin-bottom: 45px;
  margin: 20px 0;
}

.del-edit-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-right: 15px;
}

/* create new post and edit post form */
.new-review-form, .edit-review-form, .edit-profile-form {
  height: 400px;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-form {
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.new-user-form, .update-pass-form {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 0 auto;
}

.new-user-form * {
  margin: 5px;
}

.update-pic-form {
  text-align: center;
}

.update-profile-pic {
  padding: 25px;
  background: white;
  margin: 20px;
}